# Environments
.env

# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.idea/
.vscode/
*.swp

# DBs
*.sqlite3
*.db
chroma_db/
neo4j_data/

# design plans
DESIGN.md
implementation_plan.md
stublist.py

# chroma db data
data/

# Backup for restart
backup/
docs/project_status_checklist.md